/* ===== Paleta ===== */
:root {
  --azul: #5eb1bf;
  --azul-escuro: #073b4c;
  --bege: #fefae0;
  --rosa: #ffb5a7;
  --branco: #ffffff;
}

/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===== Header ===== */
header {
  background-color: var(--azul-escuro);
  color: var(--branco);
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;
  gap: 50px; /* espaço entre logo e menu */
  padding: 15px 40px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.ativo {
  color: var(--rosa);
}

/* ===== Banner ===== */
.adocao-banner {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://adotar.com.br/imagens/bannerHomeAdotar.webp') center/cover no-repeat;
  color: var(--branco);
  text-align: center;
  padding: 200px 20px;
}

.adocao-banner h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.adocao-banner p {
  font-size: 1.1rem;
}

/* ===== Main ===== */
main {
  padding: 60px 20px;
  background-color: var(--bege);
}

.pets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pet-card {
  background-color: var(--branco);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  width: 280px;
  transition: transform 0.3s;
}

.pet-card:hover {
  transform: scale(1.05);
}

.pet-card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.pet-card h3 {
  color: var(--azul-escuro);
  margin-bottom: 10px;
}

.pet-card p {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.botao {
  display: inline-block;
  background-color: var(--azul);
  color: var(--branco);
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 20px;
  transition: 0.3s;
}

.botao:hover {
  background-color: var(--rosa);
}

/* ===== Footer ===== */
footer {
  background-color: var(--azul-escuro);
  color: var(--branco);
  text-align: center;
  padding: 15px 0;
}
/* ===== Animação suave de entrada ===== */
.card {
  opacity: 0;
  transform: translateY(20px);
  animation: subir 0.8s ease forwards;
}

.card:nth-child(2) {
  animation-delay: 0.2s;
}

.card:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav a {
  position: relative;
  color: var(--branco);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* linha animada */
nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--rosa);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

/* aparece do centro quando passa o mouse */
nav a:hover::after {
  width: 100%;
}
