/* ---------- Estilos Gerais ---------- */

:root{
    --vinho: #680e34;
    --vinho-medio:#690202;
    --vermelho: #7C0A01;
    --bege:#e6ddbc; 
    --roxo:#280904;
    --cinza:#e0e0e0;
    --vermelho-claro--:#fb8f8f;
   }


body {
  font-family: 'Inter', Arial, sans-serif;
  background: var(--cinza);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------- Header ---------- */
header {
  background: var(--vermelho);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header .logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #111;
}

header nav {
  display: flex;
  gap: 1.5rem;
  float: right;
}

header nav a {
  text-decoration: none;
  color: rgb(243, 239, 239);
  font-size: 0.95rem;
  transition: 0.2s;
  
}

header nav a:hover,
header nav .active {
   transition: 1.0s;
  font-size: 19px;
  }


/* ---------- Introdução ---------- */
.intro {
  text-align: center;
  margin: 60px 0;
}

.intro h1 {
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 15px;
}

.intro p {
  color: #555;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
}

/* ---------- Cards ---------- */
.tips-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.tip-card {
  background: var(--bege);
  border-radius: 12px;
  /* overflow: hidden; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.tip-card:hover {
 transform: translateY(-3px); 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.tip-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card-text {
  padding: 20px;
}

.card-text h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #111;
}

.card-text p {
  color: #000000;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* ---------- Footer ---------- */
footer {
  background: var(--vermelho);
  border-top: 1px solid #fefefe;
  margin-top: 80px;
  padding-top: 40px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

footer h4,
footer h5 {
  color: #111;
  margin-bottom: 10px;
}

footer p,
footer a {
  color: #070404;
  font-size: 0.95rem;
  text-decoration: none;
}

footer a:hover {
  color: #d21c1c;
}

.footer-bottom {
  text-align: center;
  color: #fcfcfc;
  font-size: 0.85rem;
  padding: 20px 0;
  border-top: 1px solid #f6f6f6;
}

/* ---------- Responsivo ---------- */
@media (max-width: 768px) {
  header nav {
    float: none;
    justify-content: center;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .card-text p {
    font-size: 0.9rem;
  }
}

